

{% extends 'base.html.twig' %}


{% block body %}



    
<div class="row">
    {% for products in product %} 
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    
                    <h5 class="card-title">{{ products.name }} </h5>
                    <p>{{ products.description }}</p>
                    <p><strong>{{ products.price / 100 }} €</strong></p>
                    <a href="{{ path('product_show', { slug: products.slug }) }}"
                       class="btn btn-outline-primary btn-sm"
                    >
                        Voir le produit
                    </a>
                    <a href="{{ path('product_delete', { id: products.id }) }}"
                           class="btn btn-outline-danger btn-sm"
                        >
                            X
                        </a>
                        <a href="{{ path('product_edit', { id: products.id }) }}"
                        class="btn btn-outline-success btn-sm"
                     >
                         Modifier
                     </a>
                    
                </div>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock  %}
